/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2; /* Light gray background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Header Styles */
header {
    background-color: #4d4d4d; /* Dark gray for the header */
    padding: 10px 0;
    width: 100%;
    position: absolute;
    top: 0;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar h1.logo {
    color: white;
    font-size: 24px;
}

.navbar nav ul {
    list-style: none;
    display: flex;
}

.navbar nav ul li {
    margin-left: 20px;
}

.navbar nav ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar nav ul li a:hover {
    color: #d9d9d9;
}

/* Register Section */
.register-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 60px; /* To avoid overlapping with the header */
}

.form-container {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid #e6e6e6; /* Soft border */
}

h2 {
    font-size: 28px;
    color: #333; /* Dark gray text */
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-size: 14px;
    color: #666; /* Medium gray label */
}

.input-group input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    transition: border-color 0.3s ease;
    background-color: #f9f9f9; /* Light gray input background */
}

.input-group input:focus {
    border-color: #a6a6a6;
    outline: none;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #4d4d4d; /* Dark gray button */
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #737373; /* Lighter gray on hover */
}

p {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

p a {
    color: #737373;
    text-decoration: none;
    transition: color 0.3s ease;
}

p a:hover {
    color: #999;
}

.input-group input[type="checkbox"] {
    margin-right: 10px;
}

.input-group label[for="terms"] {
    display: inline-block;
    font-size: 14px;
    color: #333;
    margin-top: -2px;
}

/* Footer Links */
#terms {
    margin-left: 5px;
    text-decoration: underline;
}

